<div class="container">
  <div class="card text-white bg-primary m-5" style="max-width: 18rem">
    <div class="card-header text-center">
      <h2>Biratnagar</h2>
      <p>
        <img src="{{ iconUrl }}" alt="condition" />
      </p>
    </div>
    <div class="card-body">
      <p class="card-text">Summary: {{ description }}</p>
      <p class="card-text">Temperature: {{ temperature }} °F</p>
      <p class="card-text">Feels Like: {{ feelsLike }} °F</p>
      <p class="card-text">Pressure: {{ pressure }} hPa</p>
      <p class="card-text">Humidity: {{ humidity }} %</p>
    </div>
  </div>
</div>
